<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Enum" value="NonPublic,Static" />
    <add key="String" value="Hello world" />
    <add key="DateTime" value="2004-07-17T08:00:00.000000+01:00" />
    <add key="TimeSpan" value="11.22:33:44.56" />
    <add key="Uri" value="http://hello.eu" />
    <add key="Guid" value="{DCFA0942-0BEC-43E4-8D77-57BA63C7BF7B}" />
    
    <!-- Nested property-->
    <add key="MyNestedProperty.Foo" value="Foo string" />
    <add key="MyNestedProperty.Bar" value="42" />

    <!-- Array property-->
    <add key="MySimpleArrayProperty.Primary" value="Foo Primary" />
    <add key="MySimpleArrayProperty.1" value="Foo 1" />
    <add key="MySimpleArrayProperty.2" value="Foo 2" />

    <add key="MyNumericArrayProperty.1" value="1" />
    <add key="MyNumericArrayProperty.2" value="2" />
    <add key="MyNumericArrayProperty.3" value="3" />
    <add key="MyNumericArrayProperty.4" value="4" />

    <add key="MyArrayProperty.Primary.Foo" value="Foo Primary" />
    <add key="MyArrayProperty.Primary.Bar" value="420" />
    <add key="MyArrayProperty.1.Foo" value="Foo 1" />
    <add key="MyArrayProperty.1.Bar" value="421" />
    <add key="MyArrayProperty.2.Foo" value="Foo 2" />
    <add key="MyArrayProperty.2.Bar" value="422" />

    <!-- List properties-->
    <add key="MySimpleListProperty.Foo" value="Foo 1" />
    <add key="MySimpleListProperty.Bar" value="Foo 2" />

    <add key="MyListProperty.1.Foo" value="Foo 1" />
    <add key="MyListProperty.1.Bar" value="421" />
    <add key="MyListProperty.2.Foo" value="Foo 2" />
    <add key="MyListProperty.2.Bar" value="422" />

    <!-- Dictionary properties-->
    <add key="MySimpleDictionaryProperty.Foo" value="oof" />
    <add key="MySimpleDictionaryProperty.Bar" value="rab" />

    <add key="MyNumericDictionaryProperty.Foo" value="14" />
    <add key="MyNumericDictionaryProperty.Bar" value="42" />

    <add key="MyDictionaryProperty.Key1.Foo" value="oof1" />
    <add key="MyDictionaryProperty.Key1.Bar" value="421" />
    <add key="MyDictionaryProperty.Key2.Foo" value="oof2" />
    <add key="MyDictionaryProperty.Key2.Bar" value="422" />

    <!-- Animals -->
    <add key="Animals.Parrot.Name" value="Polly" />
    <add key="Animals.Parrot.Talks" value="true" />
    <add key="Animals.Rabbit.Name" value="Beatrice" />
    <add key="Animals.Rabbit.Talks" value="false" />
    <add key="Animals.Fox.Name" value="John" />
    <add key="Animals.Fox.Talks" value="false" />

    <!-- SettingReference Tests -->
    <add key="SettingReference.BaseUrl" value="http://foo.bar" />
    <add key="SettingReference.PageUrl" value="/home/index.aspx" />
    <add key="SettingReference.LoginUrl" value="login.aspx" />

    <add key="TypeConverter.RootFolder" value="C:\Foo\Bar\" />
    <add key="TypeConverter.Upload" value="Upload\" />
    <add key="TypeConverter.Download" value="E:\Download\" />
    <add key="TypeConverter.Sub" value="Sub\" />
    
    <!-- FileInfo tests -->
    <add key="SimpleFile" value="packages.config" />
    <add key="PartialFile" value="..\Miracle.Settings.sln" />
    <add key="RelativeFile" value="TextFile1.txt" />
    <add key="FullFile" value="c:\Windows\regedit.exe" />
    <add key="FileArray.1" value="..\Miracle.Settings.sln" />
    <add key="FileArray.2" value="c:\Windows\regedit.exe" />

    <add key="SimpleDirectory" value="TestFolder" />
    <add key="PartialDirectory" value="TestFolder\TestSubFolder" />
    <add key="FullDirectory" value="c:\Windows" />
    <add key="RelativeDirectory" value="TestFolder" />
    <add key="RelativeDirectory2" value="TestSubFolder" />
    <add key="DirectoryArray.10" value="TestFolder" />
    <add key="DirectoryArray.12" value=".." />
    <add key="DirectoryArray.14" value="c:\Windows" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="nunit.framework" publicKeyToken="2638cd05610744eb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.6.0.0" newVersion="3.6.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="KellermanSoftware.Compare-NET-Objects" publicKeyToken="d970ace04cc85217" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.6.0.0" newVersion="3.6.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
